* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

body {
  color: #fff;
  background-color: #3e3c3c;
  ;
}

.banner {
  position: relative;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
  width: 100%;


}

.content {
  position: absolute;
  bottom: 0;
  left: 0;
}

.posters {
  display: flex;
  overflow-x: hidden;
}

.poster {
  transition: all .5s ease-out;
  height: 300px;
}

.poster:hover {
  transform: scale(1.1);

}

.mySwiper {
  height: 200px;
}

.poster {
  max-height: 150px;
  overflow-x: hidden;

}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #3e3c3c;
  ;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper::-webkit-scrollbar {
  display: none;
}

.video {
  width: 100%;
}

.category {
  min-width: 100px;
  min-height: 100px;

}


/* ====== mobile ======== */

@media (max-width: 767px) {
  .banner {
    height: 25vh;
  }

  .row {
    --bs-gutter-x: 0;
  }

  .poster:hover {
    transform: none;

  }

  .movie-grid {
    width: 95% !important;
    height: auto;
    overflow-x: hidden;

  }
}